<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1><a href="/">Northcoders Reddit</a></h1>

    <h3><a href="/api/articles">Articles</a></h3>
    <h3><a href="/api/topics">Topics</a></h3>
    <h3><a href="/api/users">Users</a></h3>

    <h4>A list of all the endpoints: </h4>
    <ul>
        <li>GET /api </li>
        <li>GET /api/topics</li>
        <li>GET /api/topics/:topic_slug/articles</li>
        <li>POST /api/topics/:topic_slug/articles</li>
        <li>GET /api/articles</li>
        <li>GET /api/articles/:article_id</li>
        <li>GET /api/articles/:article_id/comments</li>
        <li>POST /api/articles/:article_id/comments</li>
        <li>PATCH /api/articles/:article_id</li>
        <li>PATCH /api/comments/:comment_id</li>
        <li>DELETE /api/comments/:comment_id</li>
        <li>GET /api/users/:username</li>
      </ul>
</body>
</html>
